.BestSeller_container{
    margin: auto;

    border: 3px solid brown;
   
    height: 600px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
     /* overflow: hidden; */
   
}
.bestseller_heading{
    width: 80%;
    height: 10%;
    
    /* border: 1px solid red; */
    display: flex;
    font-weight: 700;
    font-size: 25px;
    color: rgb(24, 21, 21);


}
