.home_container {
  margin: auto;
  width: 100%;
  height: auto;
  gap: 20px;
  background-color: #F7F6F6;

  padding: 5px;
}

.big_bottom_img_div {
  margin: auto;
  width: 100%;
  object-fit: fill;

}

.big_bottom_img_div>img {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}
.Carouselcontainer{
  padding: 20px;
}